<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header_footer.css}">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="~{/include/header_footer.html::header}"></header>

	<section>
		<div id="section_wrap">
			<div class="boardWord"><h1>로그인</h1></div>
			<div class="boardContent">
				<form th:action="@{/board/listPro}" method="POST" name="board_form">
					<table width="500">
						<tr height="50">
							<td width="150" align="center">
								<input type="text" name="title" placeholder="글 제목을 입력해주세요." />
							</td>
						</tr>
						<tr  height="50">
							<td width="150" align="center">
								<input type="text" name="writer" placeholder="작성자를 입력해주세요." />
							</td>
						</tr>
						<tr  height="50">
							<td width="150" align="center">
								<textarea cols="100" rows="10" name="content"></textarea>
							</td>
						</tr>
					</table>
					<input type="button" value="작성완료">
				</form>
			</div>
		</div>
	</section>

	<footer th:replace="~{/include/header_footer.html::footer}"></footer>
</body>
</html>