<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>도서 대여 정보</title>
</head>
<body>
	<h2>도서 대여 정보</h2>
	<ul>
		<li>도서명 : <span th:each="bookName : ${bookNames}" th:text="${bookName}"></span></li>
		<li>저자 : <span  th:each="author : ${authors}" th:text="${author}"></span></li>
		<li>ISBN : <span th:each="isbn : ${isbns}" th:text="${isbn}"></span></li>
		<li>대여자 : <span th:each="rentalName : ${rentalNames}" th:text="${rentalName}"></span></li>
	</ul>
	<a href="http://localhost:8090/book/rental">뒤로가기</a>
	<!-- 
	<p>도서명 : <spanth:text="${bookName}"></span></p>
	<p>저자 : <span th:text="${author}"></span></p>
	<p>ISBN : <span th:text="${isbn}"></span></p>
	<p>대여자 : <span th:text="${rentalName}"></span></p>
	 -->
	
</body>
</html>