<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header_footer.css}">
<link rel="stylesheet" th:href="@{/css/boardMod.css}">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="~{/include/header_footer.html::header}"></header>
	
	<section>
		<div id="section_wrap">
			<div class="word"><h1>board</h1></div>
			<div class="content">
				<form th:action="@{/board/modify(id=${oneBoard.id})}" method="POST">
					<table width="500">
						<tr height="50">
							<td width="150" align="center">
								<input type="text" name="title" th:value="${oneBoard.title}" />
							</td>
						</tr>
						<tr height="50">
							<td th:text="${oneBoard.createdAt}" width="150" align="center"></td>
						</tr>
						<tr height="50">
							<td th:text="${oneBoard.writer}" width="150" align="center"></td>
						</tr>
						<tr height="50">
							<td width="150" align="center">
								<input type="password" name="writerPw" placeholder="비밀번호를 입력해주세요" required />
							</td>
						</tr>
						<tr height="50">
							<td>
								<textarea cols="100" rows="10" name="content" th:text="${oneBoard.content}" width="150" align="center"></textarea>
							</td>
						</tr>
					</table>
					<button type="submit" >수정 완료</button>
				</form>
			</div>
		</div>
	</section>
	
	<footer th:replace="~{/include/header_footer.html::footer}"></footer>
</body>
</html>