<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>빌린 책 현황</h2>
	<table>
		<thead>
			<tr>
				<th>도서명</th>
				<th>저자</th>
				<th>isbn</th>
				<th>대여자</th>
				<th>대여아이디</th>
				<th>대여일자</th>
				<th>반납일자</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>도서명</td>
				<td>저자</td>
				<td>isbn</td>
				<td>대여자</td>
				<td>대여아이디</td>
				<td>대여일자</td>
				<td>반납일자</td>
			</tr>
		</tbody>
	</table>
	<!-- <p>도서명 : <span th:text="${bookName}"></span></p>
	<p>저자 : <span th:text="${auther}"></span></p>
	<p>isbn : <span th:text="${isbn}"></span></p>
	<p>대여자 : <span th:text="${rentalName}"></span></p>
	<p>대여아이디 : <span th:text="${userId}"></span></p>
	<p>대여일자 : <span th:text="${rental}"></span></p>
	<p>반납일자 : <span th:text="${return}"></span></p> -->
</body>
</html>