<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>abc 도서관에 오신걸 환영합니다.</h2>
	<form th:action="@{/signupResult}" method="POST">
		<input type="text" name="memberName" placeholder="가입자 명을 입력해주세요." /><br/>
		<input type="text" name="userId" placeholder="아이디를 입력해주세요." /><br/>
		<input type="password" name="userPw" placeholder="비밀번호를 입력해주세요." /><br/>
		<input type="email" name="Email" placeholder="email을 입력해주세요." /><br/>
		<input type="submit" value="가입" />
	</form>
</body>
</html>