<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- <link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}"> -->
<title>Member Join</title>
</head>
<body>
	<header th:flagment="header">
		<div id="top">
			<h3>Member Join</h3>
		</div>
		<div id="header_wrap">
			<a th:href="@{/}">HOME</a>
			<!-- 비로그인 상태일때 메뉴바 -->
			<th:block th:if="${session.loginmember == null}">
				<a th:href="@{/member/signup}">회원가입</a>
				<a th:href="@{/member/login}">로그인</a>
			</th:block>
			<th:block th:if="${session.loginmember != null && session.loginmember.id != 'admin9867'}">
				<span th:text="${session.loginmember.id}" ></span>님 환영합니다.
				<a th:href="@{/member/memberInfo(id=${session.loginmember.id})}">MyPage</a>
				<a th:href="@{/board/mypage}">MyBoard</a>
				<a th:href="@{/member/logout}">로그아웃</a>
			</th:block>
			<th:block th:if="${session.loginmember != null && session.loginmember.id == 'admin9867'}">
				<span>관리자님 환영합니다.</span>
				<a th:href="@{/member/list}">회원목록</a>		
				<a th:href="@{/member/memberInfo(id=${session.loginmember.id})}">MyPage</a>
				<a th:href="@{/board/mypage}">MyBoard</a>
				<a th:href="@{/member/logout}">로그아웃</a>
			</th:block>
			<a th:href="@{/board/list}">게시판</a>
		</div>
	</header>
	<nav th:flagment="nav">
		<div id="nav_wrap">
			<a th:href="@{/example}">EXAMPLE</a>
		</div>
	</nav>
	<footer th:flagment="footer">
		<div id="footer_wrap">
			Copyrignt OFFICE @Green
		</div>
	</footer>
</body>
</html>